body{
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero{
    height: 100vh;
    width: 100%;
    background-color: #007AFF;
    display: flex;
    justify-content: space-evenly;

}

.hero__texto{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
}

.hero__textoTitulo{
    color: white;
    font-size: 3rem;
    font-weight:500;
    margin: 0.6rem 0 0 0;
}

.hero__textoP{
    color: rgba(255, 255, 255, 0.705);
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem 0;
}
.hero__img{
    height: 100vh;
    display: flex;
    align-items:flex-end;
    justify-content: center;
}

.archive {
    height: 100vh;
    width: 100%;
    background-color: #FF2D55;
    display: flex;
    justify-content: space-evenly;
}

.archive__texto {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.archive__textoTitulo {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    margin: 0.6rem 0 0 0;
}

.archive__textoImg{
    width: 4rem;
    height: 4rem;
}

.archive__textoP {
    color: rgba(255, 255, 255, 0.705);
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem 0 12rem 0;
}

.archive__img {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.keep {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

.keep__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.keep__textoImg {
    width: 4rem;
    height: 4rem;
}

.keep__textoTitulo {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    margin: 0.6rem 0 0 0;
}

.keep__textoP {
    color: rgba(255, 255, 255, 0.705);
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem 0 12rem 0;
}

.keep__img {
    height: 100vh;
    display: flex;
    align-items:flex-start;
    justify-content: center;
}

.expand {
    height: 100vh;
    width: 100%;
    background-color: #FFB800;
    display: flex;
    justify-content: space-evenly;
}

.expand__texto {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.expand__textoTitulo {
    color: black;
    font-size: 2rem;
    font-weight: 500;
    margin: 0.6rem 0 0 0;
}

.expand__textoImg {
    width: 4rem;
    height: 4rem;
}

.expand__textoP {
    color: rgba(0, 0, 0, 0.705);
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0 12rem 0;
}

.expand__img {
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.reply {
    height: 100vh;
    width: 100%;
    background-color: #7000FF;
    display: flex;
    justify-content: space-evenly;
}

.reply__texto {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.reply__textoImg {
    width: 4rem;
    height: 4rem;
}

.reply__textoTitulo {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    margin: 0.6rem 0 0 0;
}

.reply__textoP {
    color: rgba(255, 255, 255, 0.705);
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0 12rem 0;
}

.reply__img {
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: #f2f2f2;
    padding: 5rem 1rem;
}

.card1, .card2, .card3, .card4, .card5, .card6 {
    width: 17rem;
    height: 13rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: white;
    padding: 0 1.5rem;
}

.card1 {
    background-color: #007AFF;
}

.card2 {
    background-color: #FFB800;
    color: #000000;
}

.card3 {
    background-color: #FF2D55;
}

.card4 {
    background-color: #000000;
}

.card5 {
    background-color: #7000FF;
}

.card6 {
    background-color: #FFFFFF;
    color: #000000;
}


.card__texto {
    margin: .625rem 0 0 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.card__img {
    width: 3rem;
    height: 3rem;
    margin: 1.5rem 0 0 0;
}

.brag {
    width: 100%;
    height: auto;
}

.bragTitulo {
    font-size: 2rem;
    padding: 2rem 0rem 2rem 6rem;
}

.bragGaleria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.bragCard {
    display: flex;
    flex-direction: column; 
    align-items:start; 
    justify-content: space-between;
    width: 18rem; 
    height: auto; 
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.055);
    overflow: hidden;
    color: #000000;
    padding: 2rem;
    text-align: left;
}

.brag__texto {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem 0;
}

.brag__img {
    display: flex;
    width: auto;
    height: auto;
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

}

.footer__texto {
    display: flex;
    gap: 2rem;
}

.footer__textoPie {
    font-size: 1.2rem;
}

.footer__imagenes {
    margin-left: 2rem;
}

.footer__img {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem 0 0;
}

.hero__imgImagen,.archive__imgImagen,.keep__imgImagen,.expand__imgImagen,.reply__imgImagen{
    height: inherit;
}

@media (min-width: 319px) and (max-width: 767px) {
    .hero{
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 1.5rem;
    }
    .hero__img{
        height: auto;
        width: auto;
    }
    .hero__texto{
        padding: 0;
        height: auto;
        display: flex;
        align-items: center;
    }
    .hero__textoTitulo{
        font-size: 2rem;
    }
    .hero__textoP{
        font-size: 1rem;
    }
    .archive{
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 1.5rem;
        align-items: center;
    }
    .archive__img{
        width: auto;
        height: auto;
    }
    .archive__texto {
         height: auto;
        width: auto;
        display: flex;
        align-items: center;
    }
    .archive__textoP{
        margin: 1rem 0 1rem 0;
        }
    .brag{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .expand{
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 1.5rem;
        align-items: center;
    }
    .expand__img {
         height: auto;
         width: auto;
    }
    .expand__texto{
        display: flex;
        align-items: center;
        height: auto;
    }
    .expand__textoP{
        margin: 1rem 0 1rem 0;

    }
    .keep{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .keep__texto{
        padding: 0.5rem;
        display: flex;
        align-items: center;
    }
    .keep__textoP{
        margin: 1rem 0 1rem 0;
        text-align: center;
    }
    .keep__img {
        height: auto;
    }
    .reply{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .reply__texto{
        padding: 0;
        display: flex;
        align-items: center;
    }
    .reply__img {
        height: auto;
        width: auto;
   }
   .reply__texto{
       height: auto;
   }
   .reply__textoP{
       margin: 1rem 0 1rem 0;
        text-align: center;
   }
    .cards{
        padding: 1rem 0;
    }
    .bragTitulo{
        margin: 1rem 0;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .bragGaleria{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .hero__imgImagen, .archive__imgImagen, .reply__imgImagen, .expand__imgImagen, .keep__imgImagen{
        height: 25rem;
    }
    .bragCard{
        padding: 0.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .card1, .card2, .card3, .card4, .card5, .card6 {
        padding: 0 0.5rem;
        padding: 0 0.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .bragGaleria {
        align-items: center;
    }
}
